/Pokemon.class
/PokemonTest.class
/Swap.class
/Trainer.class
/Type.class
/Competition.class
/Aufgabe2_1.aux/Aufgabe2_1.log/Aufgabe2_1.pdf/Aufgabe2_1.synctex.gz
Zettel4/.~lock.04-PokemonManager-Systemfunctions.xlsx#
Zettel4/04-Pokemon-SWT/src/pokemon/ui/PokemonUI.java
